body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    background-color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
}
