.heading {
    font-size: 60px;
    color: rgb(17, 17, 24);
}

p {
    font-size: 20px;
    color: rgb(7, 7, 228);
    background-color: green;
}

#btn {
    background-color: rgb(7, 7, 228);
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    border: none;
}

.container {
    text-align: center;
    display: column;
}