body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.player {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#reset {
    background-color: #ff0000;
}

.scoreboard {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

span {
    font-weight: bold;
    font-size: 20px;
    color: #007bff;
}
